.condition{
    border: 1px solid lavender;
    padding: 3px;
    border-radius: 5px;
    background-color: #efefef;
}

.tab-condition{
    // width: 100%;
    // margin-top: 10px;
    height: 47px;
    border: 1px solid #e7e6e6;
    display: inline-block;
    background-color: white;
    .tab-each{
        display: block;
        padding: 14px 45px 14px 40px;
        /* border-left: 1px solid #c8ccb2; */
    }
    .active{
        -webkit-box-shadow: inset 2px 2px 11px 0px rgba(242,241,198,1);
        -moz-box-shadow: inset 2px 2px 11px 0px rgba(242,241,198,1);
        box-shadow: inset 2px 2px 11px 0px rgba(242,241,198,1);
    }
}

.control{
    padding: 4px;
    .control-item{
        display: inline-block;
        padding: 5px;
        margin-right: 5px;
    }
}